body {
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: url("https://neocities.org/site_thumbnails/97/90/db1-clobase/bg.jpg.210x158.webp");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
}
